
html {
  @media (min-width:$large ){font-size: 62.5%;}
}

body{
  overflow-y: scroll;
  font-weight: 100;
  color: $dark;
  @media(min-width: $large){
    font-family: $helvetica;
  }
}

.hidden{display: none;}

.container{
  z-index: 1;
}
section,header{
  position: relative;
  width: 100%;
  //swidth: 100vw;
  display: table;
}

i.burger{
  width: 28px;
  @include img_sprite(100%);
  position: absolute;
  top:15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  display: block;
  touch-action: none;
  color: $lc_green;
  border: none;
  outline: 0;

  &::after{
    background: no-repeat center center;
    @include burger($lc_grey);

    &:active{  @include burger($warning_orange);}
  }
  @media(min-width: $large){display: none;}
}

ul.sociales {
  li{
      display: inline-block;
      .fa{
          font-size: 2em;
          padding:2em;
      }
  }

  a{
    font-size: 1.25em;
    line-height: 1em;
    color: $lc_green_dark;
    padding:.125em;
    margin: 0;
    text-decoration: none;

    &:hover, &:active{cursor: pointer;color: $dark;}
  }
}

.calderon{
  font-size: 1rem;
  h1,h2,h3{margin: 0;text-align: center;}
  h2,h3{
    color: $w;
    font-size: .76em;
    max-width: 25em;
    margin: 0 auto;
  }
  h1{
    font-size: 4.5em;
    @extend %helveticaCond;
    font-weight: 500;
    line-height: .95em;
    letter-spacing: 0.13em;

    b{
      font-weight: 800;
      letter-spacing: -.1rem;
      display: block;
    }

    &::first-letter{
      background-image: linear-gradient($lc_red,$lc_red);
      padding: 0 .2em;
      background-size: 100% .9em;
      background-repeat: no-repeat;
      background-position: center center;
      color:$w;
      letter-spacing: normal;
      margin-right: .1em;
    }
  }
  h2{
    @extend %helveticaExt;
    background-color: $lc_green;
    padding-top: .25em;
    font-weight: normal;
    letter-spacing: .1em;

    strong{
      font-size: 1.25em;
      display: block;
      font-weight: 800;
    }
  }
  h3{
    padding-top: -1.5px;
    margin-top: -1px;
    background-color: $lc_green;
    @extend %helvetica;
    font-weight: 400;
    padding-bottom: .25em;
    letter-spacing: normal;
  }
}

section.skewed{
  margin-bottom: 6em!important;
  &::after{
    content: '';
    width: 100%;
    height: 70%;
    position: absolute;
    background: inherit;
    z-index:0;
    bottom: -4em;
    transform-origin: left bottom;
    transform: skewY(-3deg);
  }

  &.preceded{
      padding-top: 6em!important;
      &::before{
        content: '';
        width: 100%;
        height: 70%;
        position: absolute;
        background: inherit;
        z-index: 0;
        top: -4em;
        transform-origin: left bottom;
        transform: skewY(-3deg);
    }
  }

  &.anteceded{
    &+section{
      &::before{
        content: '';
        width: 100%;
        height: 70%;
        position: absolute;
        background: inherit;
        z-index: 0;
        top: -4em;
        transform-origin: left bottom;
        transform: skewY(-3deg);
    }
    }
  }

  &>*{
    //z-index: 2;
  }
}

button.hamburger{
  position: absolute;
  top:5px;
  right: 5px;
  z-index: 999;
  display: block;
  touch-action: none;
  color: $lc_grey;

  &:hover{@include bounce();}
}


input[type].required::placeholder{
  color: crimson;
}

form label.err{color: $warning_orange; font-weight: 300; font-size: .95em;}

form .error_message{color: $warning_orange;}

%textImgSwap{
  position: absolute;
  left: -300%;
  font-size: .5em;
  z-index: -1;
}
