body{
  overflow-y: scroll;
  font-weight: 100;
  @media(min-width: $large){
    font-family: $helvetica;
  }
}

.container{
  z-index: 1;
}
section,header{
  position: relative;
  width: 100%;
  //swidth: 100vw;
  display: table;
}

i.burger{
  width: 38px;
  @include img_sprite(100%);
  position: absolute;
  top:1em;
  right: 1em;
  z-index: 999;
  display: block;
  touch-action: none;
  color: $lc_green;
  border: none;
  outline: 0;

  &::after{
    background: no-repeat center center;
    @include burger($dark);

    &:active{  @include burger($warning_orange);}
  }
  @media(min-width: $large){display: none;}
}

ul.sociales {
  li{
      display: inline-block;
      .fa{
          font-size: 2em;
          padding:2em;
      }
  }

  a{
    font-size: 1.25em;
    line-height: 1em;
    color: $lc_green_dark;
    padding:.125em;
    margin: 0;
    text-decoration: none;

    &:hover, &:active{cursor: pointer;color: $dark;}
  }
}



section.skewed{
  margin-bottom: 6em!important;
  &::after{
    content: '';
    width: 100%;
    height: 70%;
    position: absolute;
    background: inherit;
    z-index:0;
    bottom: -4em;
    transform-origin: left bottom;
    transform: skewY(-3deg);
  }

  &.preceded{
      padding-top: 6em!important;
      &::before{
        content: '';
        width: 100%;
        height: 70%;
        position: absolute;
        background: inherit;
        z-index: 0;
        top: -4em;
        transform-origin: left bottom;
        transform: skewY(-3deg);
    }
  }

  &.anteceded{
    &+section{
      &::before{
        content: '';
        width: 100%;
        height: 70%;
        position: absolute;
        background: inherit;
        z-index: 0;
        top: -4em;
        transform-origin: left bottom;
        transform: skewY(-3deg);
    }
    }
  }

  &>*{
    //z-index: 2;
  }
}

button.hamburger{
  position: absolute;
  top:5px;
  right: 5px;
  z-index: 999;
  display: block;
  touch-action: none;
  color: $lc_grey;

  &:hover{@include bounce();}
}


input[type].required::placeholder{
  color: crimson;
}

form label.err{color: $warning_orange; font-weight: 300; font-size: .95em;}

form .error_message{color: $warning_orange;}

%textImgSwap{
  position: absolute;
  left: -300%;
  font-size: .5em;
  z-index: -1;
}
