header#hero{
    height: 100%;
    height: 100vh;
    background-color: $lc_grey ;
    background-image:linear-gradient(to bottom right, $lc_grey, $w) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;

    @media (min-width: $large){
      height: 80%;
      height: 80vh;
    }

    .container{
      height: 100%;
      width: 100%;
    }

    .leticia{
      height: 100%;
      width: 100%;
      background-image:  url(../images/RicardoAstudillo_frontal_opt.png);
      background-repeat: no-repeat;
      background-position: bottom left calc(100% + 150px);
      background-size: auto 90%;
      //background-size: contain;
      //background-attachment: fixed;
      //background-color: crimson;
      position: absolute;
      margin: 0;
      z-index: 10;
      bottom: 0;
      @include fadeInRight();

      @media (min-height: 730px){
        background-position: bottom left calc(100% + 215px);
      }

      @media (min-width: $large){
        //height: 80%;
        //height: 80vh;
        background-attachment: fixed;
        background-size: auto 70%;
        background-position: bottom right;
        background-position: bottom 17vh right 47%;
        background-image:  url(../images/RicardoAstudillo_Brazos-abiertos.png);
      }
    }


  }
