section#hero{
    height: 100%;
    height: 100vh;
    background-color: $lc_grey ;
    background-image: radial-gradient(ellipse  farthest-corner at 30% 125%, white 50%,#a8aaad);    //background-size: cover;
  //background-attachment: fixed;

    @media (min-width: $large){
      height: 80%;
      height: 80vh;
    }

    .container{
      height: 100%;
      width: 100%;
      padding: 0;
    }

    .leticia{
      height: 100%;
      width: 100%;
      background-image:  url(../images/LeticiaCalderon_main_mov.png);
      background-repeat: no-repeat;
      background-position: bottom left 100%;
      background-size: auto 60%;
      position: absolute;
      margin: 0;
      z-index: 10;
      bottom: 0;
      @include fadeInRight();

      @media (min-height: 730px){
        background-position: bottom left calc(100% + 215px);
      }

      @media (min-width: $large){
        //height: 80%;
        //height: 80vh;
        background-attachment: fixed;
        background-size: auto 70%;
        background-position: bottom right;
        background-position: bottom 17vh right 47%;
        background-image:  url(../images/LeticiaCalderon_main_dkt.png);
      }
    }

    .calderon{
      font-size: .95rem;
      position: absolute;
      top:10%;
      left: 50%;
      transform: translateX(-50%);
    }

    p.slogan{
      position: absolute;
      width: 50%;
      bottom: 40%;
      right: 1.5rem;
      text-align: right;
      z-index: 10;
      color: $lc_grey;
      font-size: 1.5em;
      line-height: .65em;

      strong{
        display: block;
        font-weight: 800;
        b{
          font-size: 1.15em;
          text-transform: uppercase;
          vertical-align: sub;
          line-height: 1.25em;
        }
      }
    }

    .votaPRI{
      position: absolute;
      bottom: 30%;
      /* top: unset; */
      z-index: 10;
      width: 9em;
      right: 15px;
      margin: 0;
      padding: 0;
    }

  }
